@import url('https://fonts.cdnfonts.com/css/poppins');
@import url('https://fonts.cdnfonts.com/css/akira-expanded');
@import "tailwindcss";

@theme {
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-gray: #758179;
  --color-website-color-green: #2DAD00;
  --color-website-color-lightGreen: #EAF7E6;

  /* Primary Color */
  --color-primary: var(--color-website-color-green);
  --color-secondary: var(--color-website-color-lightGreen);
  --color-accent: var(--color-website-color-gray);

  /* Font Families */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Akira Expanded", sans-serif;
}

body {
  font-family: var(--font-primary);
}
